@font-face {
  font-family: "SamsungSharpSans";
  src: url("../fonts/SamsungSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "SamsungSharpSans", sans-serif !important;
  font-weight: normal;
}

.conteiner {
  width: 95%;
  margin: 0 auto;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;

  & li {
    margin-right: 5px;
  }
}

nav ul li {
  position: relative !important;
}

nav ul li:hover .dropdown {
  display: flex;
}

.dropphoto img {
  width: 100px;
  object-fit: contain;
}
.dropdown span{
  background-color: red;
   border-radius: 40px;
   padding: 5px;
   font: 700 13px "SamsungSharpSans";
   margin-left: 4px;
   color: #fff;
}
.dropdown span[type="blue"]{
  background-color: blue;
}

.dropdown ul {
  display: flex !important;
  justify-content: start !important;
  align-items: start !important;
  flex-direction: column;
  width: 140px !important;
  margin-right: 25px;

  & a {
    font-size: 13px;
  }
  & li{margin-bottom: 10px;}
}

.dropphoto:nth-child(3),
.dropphoto:nth-child(4) {
  margin-top: 40px;
}


.dropdown {
  display: none;
  position: absolute !important;
  z-index: 7 !important;
  top: 107% !important;
  left: -180% !important;
  background-color: #fff;
  border: 1px solid transparent;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  padding: 30px;

  & h2 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
  }

  & h3 {
    width: 200px !important;
    font-weight: 600;
    font-size: 18px;
    margin: 0 0 15px 15px;
  }

  & a {
    font-size: 14px;
    font-weight: 400;
    opacity: 0.6;
    padding: 0;
    margin: 0;
    border: transparent;
    margin-bottom: 10px;
  }

  & a:hover {
    color: #000;
    opacity: 1;
    margin: 0;
    background-color: #fff;
    border: transparent;
    padding: 0;
  }
}

.navbar {
  background-color: #fff;
}

.logo img {
  width: 120px;
  height: 22px;
}

nav {
  width: 40% !important;
  padding-top: 14px;
}

.icons {
  width: 34% !important;
  padding-top: 14px;

  & ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & li {
    margin-right: 5px;
  }
}

nav a,
.icons a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  transition: .3s;
  border: 1px solid transparent;
  padding: 5px 10px;
}

nav a:hover,
.icons a:hover {
  border: 1px solid #000;
  padding: 5px 10px;
  background-color: #000;
  color: #fff;
  border-radius: 30px;
}

.icons i {
  font-size: 20px;
}

/* feedback */
.fixed {
  position: absolute;
}

.fixed p {
  position: fixed;
  right: -40px;
  font-weight: 600;
  top: 400px;
  transform: rotate(90deg);
  color: #fff;
  background-color: #000;
  padding: 5px 15px;
  z-index: 999;
}

/* slider */

.header-slider {
  margin: 40px 0;
}

.mySwiper {
  height: 100%;
  width: 100%;
}

.swiper-slide {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-size: contain;
  background-position: center;
}

.swiper-slide1 {
  background: url("../image/slider1bg4.webp")center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
}

.swiper-slide2 {
  background: url("../image/slider1bg5.webp")right/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
}

.swiper-slide3 {
  background: url("../image/slider1bg3.webp")right/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
}

.swiper-slide4 {
  background: linear-gradient(to bottom, #00000059, rgba(151, 151, 151, 0.01)), #394e89;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 87.5vh;
  position: relative;
  top: 46px;
}

.swiper-slide4 img {
  transform: scale(1.8);
  object-position: right bottom;

  width: 600px;
  object-fit: cover;
  position: absolute;
  right: 140px;
  bottom: 100px;
}

.swiper-slide5 {
  background: url("../image/download.webp")right/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
}

.swiper-slide6 {
  background: url("../image/download.jpg")right/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
}

.swiper-button-next,
.swiper-button-prev {
  color: #007aff;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}

/* text slider */

.text {
  display: flex;
  flex-direction: column;
  width: 85vw;
  align-items: start;
  position: absolute;
  z-index: 999;
}

.text h6 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

.text h2,
.slider3-text h2 {
  margin-bottom: 7px;
  font: 700 58px "SamsungSharpSans";
}

.slider3-text h2 {
  font-size: 38px;
}

.text p,
.slider3-text p {
  font: 400 22px "SamsungSharpSans";
  margin-bottom: 7px;
}

.slider3-text p {
  font-size: 18px;
}

.text a,
.slider3-text a,
.card a {
  border-bottom: 2px solid #000;
  padding: 3px;
  font: 700 14px "SamsungSharpSans";
  margin-bottom: 20px;
  text-decoration: none;
  color: #000;
  width: max-content;

}

.text button,
.mobile a,
.mobile-grid a,
.slider3-text button {
  border: 2px solid #000;
  border-radius: 25px;
  font: 300 14px "SamsungSharpSans";
  padding: 15px 20px;
  background-color: #000;
  color: #fff;
  transition: .4s;
  cursor: pointer;
  text-decoration: none;
}

.text button:hover,
.mobile a:hover,
.mobile-grid a:hover,
.slider3-text button:hover {
  background-color: transparent;
  color: #000;
}

.text button[type="sonic"] {
  background-color: #fff;
  color: #000;
  transition: .4s;
}

.text button[type="sonic"]:hover {
  background-color: #000;
  color: #fff;
  border-color: #fff;
}

/* second slider */

.header-text h2,
.bg-photo4 h2 {
  text-align: center;
  font: 700 38px "SamsungSharpSans";
  margin: 80px 0 20px 0;
}

.header-text h6 {
  opacity: 0.6;
  text-align: center;
  margin-bottom: 35px;
}

.all-mobiles {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between !important;
  gap: 40px;
}

.mobiles {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.mobile,
.mobile-grid {
  border: 1px solid #eee;
  padding: 30px 30px;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease;
  transform: translateY(20px);
  border-radius: 20px;
  overflow: hidden;

}

.mobile,
.card {
  height: 400px;
  width: 100%;

}


.mobile a,
.mobile-grid a {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease;
}

.mobile img,
.mobile-grid img {
  width: 200px;
  height: 200px;
  transition: all 0.3s ease;
}

.mobile-grid img {
  width: 170px;
  height: 170px;
  margin-bottom: 15px;
}

.mobile:nth-child(2) img {
  width: 250px !important;
}

.card-text {
  transition: all 0.3s ease;
  transform: translateY(20px);
  opacity: 1;
}

.mobile:hover .card-text {
  transform: translateY(0);
  opacity: 0;
}

.mobile:hover img,
.mobile-grid:hover img {
  transform: scale(1.2);
}

.mobile:hover a,
.mobile-grid:hover a {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.mobile h5,
.mobile-grid h5,
.card h2 {
  font: 600 22px "SamsungSharpSans";
  margin: 10px 0;
}

.mobile .card-text h6 {
  color: #2189ff;
  font: 400 14px "SamsungSharpSans";
}

.mobile .card-text p,
.mobile-grid p {
  font: 400 13px "SamsungSharpSans";
  margin-bottom: 5px;
}

.mobile-grid p {
  font-size: 16px;
  font-weight: 600;
}

/* grid slider 2 */


.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  width: 100%;

}

.div1 {
  grid-column: span 2;
  grid-row: span 2;

  & .mobile-grid {
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  & .mobile-grid img {
    width: 400px;
    height: 400px;
  }

}

.div2 {
  grid-column-start: 3;

  & .mobile-grid {
    height: 400px;
    width: 350px;
    align-items: center;
    justify-content: center;
  }

}

.div3 {
  grid-column-start: 3;
  grid-row-start: 2;

  & .mobile-grid {
    height: 400px;
    width: 350px;
    align-items: center;
    justify-content: center;
  }

}

.div8 {
  grid-column-start: 4;
  grid-row-start: 2;

  & .mobile-grid {
    height: 400px;
    width: 350px;
    align-items: center;
    justify-content: center;
  }

}

.div9 {
  grid-column-start: 4;
  grid-row-start: 1;

  & .mobile-grid {
    height: 400px;
    width: 350px;
    align-items: center;
    justify-content: center;
  }

}


/* slider 2 */
.slider-window {
  display: flex;
  overflow-x: auto;
  /* Включает прокрутку и перетягивание */
  scroll-snap-type: x mandatory;
  /* Магнитный эффект */
  scroll-behavior: smooth;
  /* Плавный переход при клике на меню */
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.slider-window::-webkit-scrollbar {
  display: none;
}

.slide {
  flex: 0 0 100%;
  scroll-snap-align: start;
}

/* Стили меню */
.slider-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.slider-nav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  text-transform: capitalize;
  padding-bottom: 3px;
  position: relative;
}

.slider-nav a::after,
.hover li::after {
  content: "";
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  transition: 0.4s;
}

.hover li::after {
  top: -10px;
}

.slider-nav a:hover::after,
.hover li:hover::after {
  width: 100%;
}

/* bg-photo */
.bg-photo {
  background: url("../img/download.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  padding: 30px 0;
  border: 1px solid transparent;
  border-bottom-right-radius: 100px;
  margin-top: 50px;
  width: 100%;
}

.main-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  & h2 {
    font: 800 32px "SamsungSharpSans";
    margin-bottom: 30px;
    color: #fff;
  }

  & p {
    color: #fff;
    margin-bottom: 30px;
  }

  & .text {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 20vh;

    & button:hover {
      border-color: #000;
    }
  }

}

/* bg-photo2 */

.bg-photo2 {
  background: url("../img/bgbgbg.webp")center/cover;
  height: 50vh;
  margin: 40px 0;
  padding-left: 20px;
}

.main-text2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 55vh;

  & .text {
    margin-top: 70px;
  }

  & span {
    opacity: 0.6;
    font-size: 17px;
    margin-bottom: 140px;
  }

  & h5 {
    font: 800 32px "SamsungSharpSans";
    margin-bottom: 40px;
  }

  & h6 {
    color: #fff;
    margin-bottom: 20px;
  }

  & h2 {
    font: 800 32px "SamsungSharpSans";
    margin-bottom: 30px;
    color: #fff;
  }

  & p {
    color: #fff;
    margin-bottom: 140px;
  }

  & .text button:hover {
    border-color: #000;
    background-color: #fff;
    color: #000;
  }
}

/* slider slider 3 */
.slider-container {
  display: flex;
  overflow-x: auto;
  /* Позволяет скроллить */
  scroll-snap-type: x mandatory;
  /* Магнитный эффект: по одной карточке */
  scroll-behavior: smooth;
  /* Плавный переход */
  gap: 15px;
  scrollbar-width: none;
  /* Скрываем полосу в Firefox */
}

/* Скрываем полосу прокрутки в Chrome/Safari */
.slider-container::-webkit-scrollbar {
  display: none;
}

.card {
  flex: 0 0 calc(100% / 4 - 20px);
  /* 4 карточки на слайде */
  scroll-snap-align: start;
  /* К чему примагничиваем (к началу) */
  user-select: none;
}

/* Адаптив для второго слайда (например, где 3 карточки) */
.second-slider .card {
  flex: 0 0 calc(100% / 3 - 20px);
}






/* slider 2.2 */

.slider3-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#slide-6 img,
#slide-7 img,
#slide-8 img,
#slide-9 img,
#slide-10 img,
#slide-11 img,
#slide-13 img,
#slide-14 img,
#slide-15 img {
  width: 100%;
}

#slide-12 img {
  width: 50%;
}

#slide-12 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* cards */
.card p {
  opacity: 0.6;
  font-size: 14px;
  width: 100%;
  margin: 15px 0 20px;
  text-align: center;
}

.card {
  width: 350px;
  border: 1px solid transparent !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 80px 0 150px 0;
  height: 500px;

  & img {
    width: 100% !important;
  }
}

/* bg-photo3 */
.bg-photo3 {
  background: url('../img/bgbg.avif')40% 30%/cover;
  height: 60vh;
  padding-left: 40px;
  margin: 50px 0 100px 0;

  & .main-text2 {
    height: 70vh;
  }
}

/* bg-photo4 */
.bg-photo4 {
  background: url("../img/bgph.avif")bottom/cover;
  height: 95vh;

  & h2 {
    padding-top: 15px;
  }
}

#slide-16,
#slide-17 {
  display: flex;
  flex-direction: column;
  height: 74vh;
  justify-content: end;
}

/* hover-cards */
.hover-cards {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
}

.hover a {
  display: none;
  margin: 30px;
  color: #000;
  font-size: 14px;
  text-decoration: none;
  width: fit-content;
  border-bottom: 2px solid #000;
}

.images img {
  display: none;
  border: 1px solid transparent;
  border-radius: 25px;
  width: 100%;
  height: 90vh;
  transition: .4s;
}

.images img:first-child {
  display: initial;
}

.hover-cards li {
  transition: .4s;
}

.images img:hover {
  transform: scale(1.1);
}

.hover li {
  font: 700 24px "SamsungSharpSans";
  margin-bottom: 60px;
  position: relative;
}

.hover ul {
  width: 50%;
}

.hover span {
  margin-right: 40px;
}

.hover li:hover a {
  display: block;
}

.hover-cards:has(li:nth-child(n+2):nth-child(-n+5):hover) .images img:first-child {
  display: none;
}

.hover-cards:has(li:nth-child(2):hover) .images img:nth-child(2),
.hover-cards:has(li:nth-child(3):hover) .images img:nth-child(3),
.hover-cards:has(li:nth-child(4):hover) .images img:nth-child(4),
.hover-cards:has(li:nth-child(5):hover) .images img:nth-child(5) {
  display: initial;
}

/* search */
.inline {
  display: flex;
  justify-content: center;
  align-items: center;

}

.inline input {
  padding: 10px 15px;
  border: 1px solid #dedede;
  font-size: 17px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
}

.inline i {
  border: 1px solid #dedede;
  font-size: 17px;
  padding: 14px 27px;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
}

.keywords div {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10px;
}

.keywords p {
  border: 1px solid #dedede;
  width: fit-content;
  border-radius: 40px;
  padding: 5px;
  margin: 15px;
  transition: .4s;
}

.keywords span:hover {
  background-color: #f3f3f3;
}

/* fag */
.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  box-shadow: none !important;
}

.accordion-button {
  width: 22% !important;
}

.accordion-item {
  border-color: transparent !important;
}

.accordion-header button {
  font: 700 18px "SamsungSharpSans";
}

/* footer */
.all-footer {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

.footer {
  border: 1px solid #a5a5a5;
  padding: 15px 50px;
  border-left: transparent;
}

.footer:nth-child(4) {
  border-right: transparent;
}

.footer li:first-child {
  font: 500 25px "SamsungSharpSans";
  margin-bottom: 18px;
}

.footer li {
  margin-bottom: 10px;
}

.footer li a {
  text-decoration: none;
  color: #000;
  opacity: 0.5;
  font-size: 14px;
}

.footer li a:hover {
  text-decoration: underline;
  color: #2189ff;
}

.footer2 {
  border-bottom: 1px solid #a5a5a5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;

  & p {
    font: 400 14px "SamsungSharpSans";
    opacity: 0.6;
  }

  & img {
    width: 250px;
    object-fit: contain;
  }

  & li {
    margin-right: 10px;
    font-size: 14px;
    opacity: 0.7;
  }
}

.footer2 ul {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.footer2 li a {
  color: #000;
  opacity: 1;
  text-decoration: none;
}

.card1 h2 {
  font: 600 17px "SamsungSharpSans";
  text-align: center;

}

.card1 img {
  width: 100%;
  object-fit: contain;
  margin-bottom: 10px;
}

.slider-imgh {
  display: none;
}

@media (max-width:770px) {

  .all-footer,
  .footer2 {
    flex-direction: column;
    text-align: center;
  }

  .footer {
    border-color: transparent;
  }

  .footer2 ul {
    flex-wrap: wrap;
    text-align: center;
  }

  .hover {
    display: none;
  }
}